:root {
    color-scheme: light dark;
    --primary-color: light-dark(#11111b, #e8e8e8);
    --primary-background: light-dark(#f5e0dc, #1c1c1d);
    --highlight-color: light-dark(#fab387,#f38ba8);
    --width-threshold: 900px;
}

:root {
    &:has(input[name="color-scheme"][value="system"]:checked) {
      color-scheme: light dark;
    }
    &:has(input[name="color-scheme"][value="light"]:checked) {
      color-scheme: light;
    }
    &:has(input[name="color-scheme"][value="dark"]:checked) {
      color-scheme: dark;
    }
  }

* {
    box-sizing: border-box;
    padding: 3px;
}

body.flex {
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-text), var(--dark-text));
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

nav a {
    color: var(--highlight-color);
    font-weight: 900;
}

/* Main flex structure */
/* ------------------- */
div.flex {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.flex .item {
    flex: 1 1;
}

article {
    min-width: 400px;
}

div.flex .full-size.item {
    flex-basis: 100%;
}

@media (max-width: var(--width-threshold)) {
    div.flex {
        flex-direction: column;
    }
}
/* ------------------- */

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a {
    transition: all 0.2s ease;
}

nav a:hover {
    transform: scale(1.2);
    padding: 0 1vw 0 1vw;
}

nav a i:hover {
    color: #b4befe;
}

figure {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    transition: all 1s ease;
}

img:hover {
    margin: auto;
    transform: scale(1.2);
}

h1.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--highlight-color);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
    margin: 0 auto;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--highlight-color);
    }
}