:root {
    color-scheme: light dark;
    --primary-color: light-dark(#11111b, #e8e8e8);
    --primary-background: light-dark(#f5e0dc, #1c1c1d);
    --accent-red: #f38ba8;
    --accent-blue: #b4befe;
    --accent-purple: #cba6f7;
    --width-threshold: 900px;
}

:root {
    &:has(input[name="color-scheme"][value="system"]:checked) {
      color-scheme: light dark;
    }
    &:has(input[name="color-scheme"][value="light"]:checked) {
      color-scheme: light;
    }
    &:has(input[name="color-scheme"][value="dark"]:checked) {
      color-scheme: dark;
    }
  }

* {
    box-sizing: border-box;
    padding: 3px;
}

body.flex {
    background-color: var(--primary-background);
    color: var(--primary-color);
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

a {
    color: var(--highlight-color);
    font-weight: 900;
}

a i {
    color: var(--highlight-secondary-color);
}

/* Main flex structure */
/* ------------------- */
div.flex {
    max-width: var(--width-threshold);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.flex .item {
    flex: 1 1;
}

article {
    min-width: calc(var(--width-threshold)/2);
}

div.flex .full-size.item {
    flex-basis: 100%;
}

@media (max-width: var(--width-threshold)) {
    div.flex {
        flex-direction: column;
    }
}
/* ------------------- */

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav.main a {
    background: linear-gradient(120deg, var(--accent-blue), var(--accent-purple), var(--accent-red));
    background-size: 200% 100%;
    background-position: 100% 0;
    border-radius: 5%;
    padding-inline: 1rem;
    align-content: space-around;
    transition: background-position .5s;
}

nav a:hover {
    background-position: 0 0;
}


figure {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 400px;
    border-radius: 2%;
    transition: all 1s ease;
    margin: 2rem auto 1rem auto;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
              100%, 0.075),
              0 0 0 1px hsla(0, 0%, 0%, 0.05),
              0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
              0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
              0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}



img:hover {
    transform: scale(1.2);
}

h1.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--accent-red);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
    margin: 0 auto;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--accent-red);
    }accent-red