html {
    background-color: var(--primary-background);
    background-image:
    radial-gradient(at 35% 75%, var(--bg-one) 0px, transparent 70%),
    radial-gradient(at 79% 41%, var(--bg-two) 0px, transparent 80%),
    radial-gradient(at 19% 28%, var(--bg-three) 0px, transparent 50%);
    min-height: 100%;
    font-size: 100%;
    transition: background-color 0.2s ease;
}

body {
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    color: var(--primary-color);
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    transition: color 0.2s ease;
    margin-inline: 3rem;
}