body {
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

h1 { font-size: clamp(2rem, 1.286rem + 1.905vw, 3rem); }
h2 { font-size: clamp(1.3rem, 1.086rem + 0.571vw, 1.6rem); }
h3 { font-size: clamp(1.2rem, 0.914rem + 0.762vw, 1.6rem); }
p { 
    font-size: clamp(0.8rem, 0.514rem + 0.762vw, 1.2rem);
} 

a {
    font-weight: 900;
    color: var(--primary-color);
}