h1 { font-size: clamp(2rem, 1.286rem + 1.905vw, 3rem); }
h2 { font-size: clamp(1.3rem, 1.086rem + 0.571vw, 1.6rem); }
h3 { font-size: clamp(1.2rem, 0.914rem + 0.762vw, 1.6rem); }
p { 
    font-size: clamp(0.8rem, 0.514rem + 0.762vw, 1.2rem);
} 

a {
    font-weight: 900;
    color: var(--primary-color)
}

@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 100;
    font-style: normal;
    src: url(assets/fonts/IBMPlexMono-Thin.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 200;
    font-style: normal;
    src: url(assets/fonts/IBMPlexMono-ExtraLight.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 300;
    font-style: normal;
    src: url(assets/fonts/IBMPlexMono-Light.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: normal;
    src: url(assets/fonts/IBMPlexMono-Regular.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 500;
    font-style: normal;
    src: url(assets/fonts/IBMPlexMono-Medium.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    font-style: normal;
    src: url(assets/fonts/IBMPlexMono-SemiBold.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: normal;
    src: url(assets/fonts/IBMPlexMono-Bold.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 100;
    font-style: italic;
    src: url(assets/fonts/IBMPlexMono-ThinItalic.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 200;
    font-style: italic;
    src: url(assets/fonts/IBMPlexMono-ExtraLightItalic.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 300;
    font-style: italic;
    src: url(assets/fonts/IBMPlexMono-LightItalic.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: italic;
    src: url(assets/fonts/IBMPlexMono-Italic.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 500;
    font-style: italic;
    src: url(assets/fonts/IBMPlexMono-MediumItalic.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    font-style: italic;
    src: url(assets/fonts/IBMPlexMono-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: italic;
    src: url(assets/fonts/IBMPlexMono-BoldItalic.ttf);
}